<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        button{
            width: 100px;
            height: 100px;
            margin: 30px;
            border: 1px solid black;
            font-size: 2em;
        }
        h1{
            margin-left: 30px;
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <h1>필수 값이 입력되지 않았습니다.</h1>
    <button><a href="/add">확인</a></button>
</body>
</html>