.mainView{
    margin: 0 auto;
    width: 80%;
    height: 600px;
    border: 1px solid black;
    overflow: scroll;
}

#input{
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10px;
    width: 80%;
    height: 100px;
    border: 1px solid black;
    font-size: 1.2em;
}
